$background-color: #202124;
$background-light-color: #292a2d;
$background-focus-color: #7248bd;

$primary-color: #646464;
$primary-hover-color: #757575;

$error-color: #f02c2c;
$success-color: #1fd65c;

$text-color: #e8eaed;
$border-color: #444444;

$input-border-color: #6d6d6d;
$input-border-focus-color: #7248bd;